@charset "UTF-8";

#select_thema {
    position: absolute;
}

#cheese{
      position: absolute;
      margin: 0 auto;
      max-width: 700px;
      padding: 20px;
    }

body {
      font-family: Segoe UI Black, sans-serif;
      margin: 0 auto;
      max-width: 700px;
      padding: 20px;
    }
    
header.header {
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 20px;
      position: relative;
    }

.logo img {
      display: block;
      justify-content: center;
      margin: 0 auto 30px auto; /* 上0, 下30px */
    }
    
#themeSelector {
  display: none;
  margin-left: 10px;
  font-size: 14px;
}


header .header nav {
	  display: flex;
  	  justify-content: center;
	}
	
.header nav ul{
      display: flex; /* 横並びにする */
      text-align: center;
      font-size: 20px;
      list-style: none;
      gap: 40px;
      padding: 0 5%;
      padding-left: 75px;
      padding-top: 0px;
      margin: 0 auto;
      margin-top: 2px;
      max-width: fit-content;
    }

    .line-right{
      margin-left: 40px;
    }

    .line-left{
      margin-left: 40px;
    }
	
    .nav ul li a {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      padding: 8px 12px;
      display: inline-block;
      transition: background-color 0.3s ease, color 0.3s ease;
}

   .header nav ul li a:hover {
      background-color: #ffffbf;
      border-radius: 5px;
}

    .line-right{
      border-right: 1px solid black;
}
    section {
      margin-top: 30px;
    }
    
    
